@use 'valaxy/client/styles/mixins/index.scss' as *;

.link {
  color: var(--st-c-brand);
}

html {
  color: var(--st-c-text);
}

.st-text {
  color: var(--st-c-text);
}

.modern-nav {
  transition: all 0.3s ease;
}

.modern-safe-padding {
  padding-inline: max(59px, env(safe-area-inset-left));
  transition: padding var(--va-transition-duration) ease;

  @include screen('md') {
    padding-inline: max(0, env(safe-area-inset-left));
  }
}
